<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.apache.cordova.speech.speechsynthesis"
      version="0.1.0">
    <name>SpeechSynthesis</name>
    <description>Cordova Speech Synthesis Plugin</description>
    <license>MIT</license>
    <keywords>cordova,speech,synthesis,tts</keywords>

   <js-module src="www/SpeechSynthesis.js" name="SpeechSynthesis">
           <merges target="cordova.plugins.SpeechSynthesis" />
   </js-module>
   
   <js-module src="www/SpeechSynthesisUtterance.js" name="SpeechSynthesisUtterance">
    <merges target="SpeechSynthesisUtterance" />
   </js-module>
   
   <js-module src="www/SpeechSynthesisEvent.js" name="SpeechSynthesisEvent">
    <merges target="SpeechSynthesisEvent" />
   </js-module>
   
   <js-module src="www/SpeechSynthesisVoice.js" name="SpeechSynthesisVoice">
    <merges target="SpeechSynthesisVoice" />
   </js-module>
   
   <js-module src="www/SpeechSynthesisVoiceList.js" name="SpeechSynthesisVoiceList">
    <clobbers target="SpeechSynthesisVoiceList" />
   </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SpeechSynthesis">
                <param name="android-package" value="org.apache.cordova.speech.SpeechSynthesis"/>
            </feature>
        </config-file>
        <source-file src="src/android/SpeechSynthesis.java" target-dir="src/org/apache/cordova/speech" />
     </platform>
     <!-- ios -->
     <platform name="ios">
           <config-file target="config.xml" parent="/*">
               <feature name="SpeechSynthesis">
                    <param name="ios-package" value="CDVSpeechSynthesis"/>
                </feature>
           </config-file>
           <header-file src="src/ios/CDVSpeechSynthesis.h" />
           <source-file src="src/ios/CDVSpeechSynthesis.m" />
           <framework src="AVFoundation.framework" />
     </platform>
     
          
</plugin>
